<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <div class="conteneur">
        Hello, world !
        ça écrit bien ?
    </div>
</body>
</html>